[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
python-decouple = "*"
flask-migrate = "*"
flask-cors = "*"
pandas = "*"
requests = "*"
bs4 = "*"
nltk = "*"
unidecode = "*"
scikit-learn = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
